//メイン部分
@import "sign_up/_main.new";

//ヘッダー部分
.header-box-registration a {
  height: 100px;
  width: 200px;
  margin-right: 550px;
}
.header-box-registration img{
  height: 100px;
  width: 200px;
  margin-right: 550px;
}
.side-header {
  margin-left: 300px;
  width: 500px;
}

//フッター部分
.footer-overview {
  padding: 30px;
  &--1 {
    text-decoration: none;
    font-size: 30px;
  }
  &--2 {
    text-decoration: none;
    margin: 20px;
  }
  &--3 {
    text-decoration: none;
  }
}
.footer__box img {
  height: 75px;
  width: 150px;
}
.footer__name {
  font-size: 5px;
}



