.category_list
  .category_index
    %h2 カテゴリー一覧
  .category_list_nav
    - @parents.each do |parent|
      .category_list_nav_link_name
        =link_to "#{parent.name}","#"
  .category_list_box
    - @parents.each do |parent|
      %h3.category_list_box_title #{parent.name}
      .category_list_box_title_category
        %a{href: '#'} すべて
        - @children.each do |child|
          %h4.category_list_box_title_sub_category #{child.name}
          .category_list_box_title_sub_sub_category
            %a{href: '#'} すべて
            -child.children.each do |grandchild|
              %a{href: '#'} #{grandchild.name}