//emmet .category_list>.category_index>h2{カテゴリー一覧}^.category_list_nav+.category_list_box
.category_list
  .category_index
    %h2 カテゴリー一覧
  .category_list_nav
    - @parents.each do |parent|
      -# .category_list_nav_link_name
      =link_to "#{parent.name}",category_show_path,class: "category_list_nav_link_name"
       
  .category_list_box
    - @parents.ladies.each do |parent|
      =parent.name
      -# -parent.children.each do |child|
      -#   =child.name 