%main.container
  .container__content
    .container__content__box
      %button.btn-logout{type: "submit", styl:"margin-top: 16px;"} ログアウト
  =render '/layouts/side__nav'
   
  = render partial: 'layouts/footer-sell-btn'