.display
  %header.header-box-registration
    %h1
      =link_to "https://www.mercari.com/jp/" do
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863303983"
    %nav.progress-bar.sign-up-bar
      %ol.clearfix
        %li
          会員情報
          .progress-line--first
        %li
          電話番号認証
          .progress-line--second
        %li
          お届け先住所入力
          .progress-line--third
        %li.bar-name
          支払い方法
          .progress-line--forth--pay
        %li
          完了
          .progress-line--fifth
  %main.contents
    %section.contents__panel
      %h2.contents-name 支払い方法
      .contents-box.pay
        .contents-form
          .form-group
            %label カード番号
            %span.form-require 必須
            %input.input-default{name: "cardnumber", type: "string", placeholder: "  半角英数字のみ"}
              .credit-card
                =image_tag "http://manual.estore.co.jp/shared/mg_sozai/card_visa_b.gif"
                =image_tag "http://manual.estore.co.jp/shared/mg_sozai/card_master_b.gif"
                =image_tag "http://manual.estore.co.jp/shared/mg_sozai/card_jcb_b.gif"
                =image_tag "http://manual.estore.co.jp/shared/mg_sozai/card_amex_b.gif"
                =image_tag "http://manual.estore.co.jp/shared/mg_sozai/card_diners_b.gif"
          .form-group
            %label 有効期限
            %span.form-require 必須
            .contents-form__expiration-date
              .expiration-date-select.select-month
                =fa_icon 'icon-arrow-bottom'
                %select.select-default{name: "month"}
                  %option{:value => ""}--
                  %option{:value => "1"}1
                  %option{:value => "2"}2
                  %option{:value => "3"}3
                  %option{:value => "4"}4
                  %option{:value => "5"}5
                  %option{:value => "6"}6
                  %option{:value => "7"}7
                  %option{:value => "8"}8
                  %option{:value => "9"}9
                  %option{:value => "10"}10
                  %option{:value => "11"}11
                  %option{:value => "11"}12
                %span 月
                .expiration-date-select.select-year
                  =fa_icon 'icon-arrow-bottom'
                  %select.select-default{name: "year"}
                    %option{:value => ""}--
                    %option{:value => "2019"}2019
                    %option{:value => "2020"}2020
                    %option{:value => "2021"}2021
                    %option{:value => "2022"}2022
                    %option{:value => "2023"}2023
                    %option{:value => "2024"}2024
                    %option{:value => "2025"}2025
                    %option{:value => "2026"}2026
                  %span 年
          .form-group
            %label セキュリティコード
            %span.form-require 必須
            %input.input-default{name: "number", type: "string", placeholder: "  カード背面4桁もしくは3桁の番号"}
            .description
              =link_to "カード裏面の番号とは？＞", "https://www.mercari.com/jp/help_center/article/423/", class: "blue-link"
          .form
            .next-enter
              =link_to "次へ進む", class: "next-enter-btn"
  %footer.footer-box
    .footer__panel
      .footer-overview
        =link_to "https://www.mercari.com/jp/privacy/", class: "footer-overview__1" do
          プライバシーポリシー
        =link_to "https://www.mercari.com/jp/tos/", class: "footer-overview__2" do
          メルカリ利用規約
        =link_to "https://www.mercari.com/jp/tokutei/", class: "footer-overview__3" do
          特定商取引に関する表記
      .footer__box
        =link_to "https://www.mercari.com/jp/", class: "footer__footser-logo" do
          =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?863303983"
      .footer__name
        ©2019 Mercari


