html{
  position: relative;
  color:#000;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
}

.container{
  // background-repeat: no-repeat;
  margin: 40px auto 0;
  padding: 0;
  width: 1020px;
  cursor: auto;
  padding: 0 0 40px;
}