.display
  %header.header-box-registration
    %nav.progress-bar
      %ol.clearfix
        %li
          会員情報
          .progress-line--first
        %li
          電話番号認証
          .progress-line--second
        %li.bar-name
          お届け先住所入力
          .progress-line--third--address
        %li
          支払い方法
          .progress-line
        %li
          完了
          .progress-line--fifth
  %main.contents
    %section.contents__panel
      %h2.contents-name 住所入力
      .contents-box.address
        .contents-form
          .form-group
            %div
              %label お名前
              %span.form-require 必須
            %input.input-default.half{name: "family_name_kanji", type: "string", placeholder: "例) 山田"}
            %input.input-default.half{name: "first_name_kanji", type: "string", placeholder: "例) 彩"}
          .form-group
            %div
              %label お名前カナ(全角)
              %span.form-require 必須
            %input.input-default.half{name: "family_name_kana", type: "string", placeholder: "例) ヤマダ"}
            %input.input-default.half{name: "first_name_kana", type: "string", placeholder: "例) アヤ"}
          .form-group
            %label 郵便番号
            %span.form-require 必須
            %input.input-default.address{name: "address", type: "string", placeholder: "例) 〒123-4567"}
          .form-group
            %label 都道府県
            %span.form-require 必須
            .contents-form__prefectures
              =fa_icon 'icon-arrow-bottom'
              %select.select-default{name: "prefectures"}
                %option --
                - @addresses.each do |address|
                  %option
                    = address.name
          .form-group
            %label 市区町村
            %span.form-require 必須
            %input.input-default.address{name: "city", type: "string", placeholder: "例) 大阪市中央区"}
          .form-group
            %label 番地
            %span.form-require 必須
            %input.input-default.address{name: "address-number", type: "string", placeholder: "例) 心斎橋1-1-1"}
          .form-group
            %label 建物名
            %span.form-require.any 任意
            %input.input-default.address{name: "building", type: "string", placeholder: "例) shinsaibashiビル301"}
          .form-group
            %label 電話番号
            %span.form-require.any 任意
            %input.input-default.address{name: "telephone", type: "string", placeholder: "例) 090-1234-5678"}
          .form
            .next-enter
              =link_to users_pay_path, class: "enter-btn" do
                次へ進む