.display
  %header.header-box-registration
    %nav.progress-bar
      %ol.clearfix
        %li
          会員情報
          .progress-line--first
        %li.bar-name
          電話番号認証
          .progress-line--second--telephone
        %li
          お届け先住所入力
          .progress-line
        %li
          支払い方法
          .progress-line
        %li
          完了
          .progress-line--fifth
  %main.contents
    %section.contents__panel
      %h2.contents-name 電話番号の確認
      .contents-box.telephone
        .contents-form
          .form-group
            %label 携帯電話の番号
            %input.input-default{name: "telephone", type: "string", placeholder: "  携帯電話の番号を入力"}
            %p.confirmation-text__telephone
              本人確認の為、携帯電話のSNS(ショートメッセージサービス)を利用して認証を行います。
        .form__telephone
          .next-enter
            =link_to users_address_path, class: "enter-btn" do
              SNSを送信する
          .text-message
            ※電話番号は本人確認や不正利用防止の為に利用します。他のユーザーに公開されることはありません。
          .description
            =link_to "電話番号の確認が必要な理由＞", "https://www.mercari.com/jp/help_center/article/423/", class: "blue-link"