%main.container
  .container-content
    %h2.container-content__head 本人情報の登録
    %form{action: "#", method: "post", class: "container-content__profile"}
      %p 
        お客さまの本人情報をご登録ください。
        %br
        登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      %p.text-right
        = link_to '本人確認書類のアップロードについて', "#", class: "blue-link"
        %i.fa.fa-angle-right.blue-link
      .container-content__profile--content
        %label.bold お名前
        %p 田中太郎
      .container-content__profile--content
        %label.bold お名前カナ
        %p タナカ タロウ
      .container-content__profile--content
        %label.bold{for: "birthday"} 生年月日
        %p 2020/12/25
      .container-content__profile--content
        %label.bold{for: "zip_code"} 郵便番号
        %span 任意
        %input.input-default{name: "zip_code", placeholder: "例）1234567", type: "text"}
      .container-content__profile--content
        %label.bold{for: "prefecture"} 都道府県
        %span 任意
        %select_wrap.pulldown
          %select.pulldown__detail{name: "prefecture"}
            %option --
            - @addresses.each do |address|
              %option
                = address.name
      .container-content__profile--content
        %label.bold{for: "city"} 市区町村
        %span 任意
        %input.input-default{name: "city", placeholder: "例) 横浜市緑区", type: "text"}
      .container-content__profile--content
        %label.bold{for: "address1_label"} 番地 
        %span 任意
        %input.input-default{name: "address1_label", placeholder: "例) 青山1−1−1", type: "text"}
      .container-content__profile--content
        %label.bold{for: "address2_label"} 建物名
        %span 任意
        %input.input-default{name: "address2_label", placeholder: "例) 柳ビル103", type: "text"}
      %button.btn-red{type: "submit", styl:"margin-top: 16px;"} 登録する
      .container-content__profile--content
        %p.text-right
          = link_to '本人情報の登録について', "#", class: "blue-link"
          %i.fa.fa-angle-right.blue-link
  =render '/layouts/side__nav'
