.display
  %main.contents
    %section.contents__panel
      %h2.registration-name 新規会員登録
      .registration-box
        .registration-form
          =link_to new_user_registration_path, method: :get, class: "registration-form__btn registration-form__btn--email" do
            =fa_icon 'envelope', class: "registration-form__btn--icon"
            メールアドレスで登録する
          =link_to "https://www.facebook.com/login/", class: "registration-form__btn registration-form__btn--facebook" do
            =fa_icon 'facebook', class: "registration-form__btn--icon"
            Facebookで登録する
          =link_to "https://accounts.google.com/signin/", class: "registration-form__btn registration-form__btn--google" do
            =fa_icon 'google', class: "registration-form__btn--icon"
            Googleで登録する