- breadcrumb :logout
= breadcrumbs separator: " &rsaquo; "
%main.container
  .container__content
    .container__content__box
      = link_to "ログアウト",destroy_user_session_path, method: :delete,class: "btn-logout", type: "submit"
  =render '/layouts/side__nav'