.display {
  background-color: #f5f5f5;
}



header {
  padding: 10px 0 20px 0;
  background-color: #f5f5f5;
  text-align: center;
}
.header-box img {
  height: 100px;
  width: 200px;
}



@import "login/_main";
//メイン部分



.footer__panel {
  text-align: center;
  a {
    color: black;
    font-size: 10px;
  }
}
.footer__overview {
  padding: 30px;
  &__1 {
    text-decoration: none;
    font-size: 30px;
  }
  &__2 {
    text-decoration: none;
    margin: 20px;
  }
  &__3 {
    text-decoration: none;
  }
}
.footer__box img {
  height: 75px;
  width: 150px;
}
.footer__name {
  font-size: 5px;
}