.progress-bar li.bar-name{ //支払い方法
  margin: 0 40px 0 0;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #ea352d;
}

.progress-line--third, // お届け先住所入力
.progress-line--forth--pay { // 支払い方法 ● 部分
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: #ccc;
  border-radius: 50%;
  background: #ea352d;
}

.progress-line--third::before {
  right: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ea352d;
}

.progress-line--third::after {
  left: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ea352d;
}

.progress-line--forth--pay::before {
  right: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ea352d;
}

.progress-line--forth--pay::after {
  left: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
}
