.container-content{
  margin: 0;
  float: right;
  width: 700px;
  background-color: white;
  font-size: 14px;
  color: #333;

  &__head{
    font-size: 24px;
    border-bottom: 1px solid #f5f5f5;
    font-weight: 550; 
    margin: 0 20;
    padding: 8px 24px;
    text-align: center;
    line-height: 1.4;
  }
  &__profile{
    padding: 64px;
    .text-right{
      float: right;
      margin: 8px;
      .fa.fa-angle-right{
        font-weight: bold;
      }
      .blue-link{
        color:#0099e8;
        text-decoration: none;
      }
      .blue-link:hover{
        color: #80c8f3;
        text-decoration: underline;
      }
    }
    &--content{
      margin-top: 40px;
      span{
        background-color: #ccc;
        border-radius:2px;
        color: white;
        margin-left: 8px;
        padding: 2px 4px;
        font-size: 12px;
      }
      .bold{
        font-weight: 600;
        line-height: 14px;
      
      }
      p{
        margin-top: 8px;
      }
      .input-default{
        width: 538px;
        height: 28px;
        padding: 10px 16px 8px;
        margin-top: 8px;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
      }
      .pulldown{
        display: block;
        &__detail{
          cursor : pointer;
          width: 572px;
          height: 48px;
          padding: 10px 16px 8px;
          margin-top: 8px;
          border-radius: 4px;
          padding-left: 15px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url(allow_down.png);
          background-repeat: no-repeat;
          background-size: 20px 10px;
          background-position: right 10px center;
          background-color:white;
          border-width: 1px;
          border-style: solid;
          border-color: #ccc;
        }
      }
      .select-default{
        cursor : pointer;
        width: 572px;
        height: 48px;
        padding: 10px 16px 8px;
        margin-top: 8px;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
      }
    }
    .btn-red{
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      width: 100%;
      max-width: 100%;
      margin-top: 40px;
      height: 48px;
      line-height: 1.5;
      font-size: 14px;
      cursor : pointer;
    }
  }
}
