* .box{
  vertical-align:baseline;
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  color: #333;
  height: 550px;
}
.header{
  text-align: center;
  height: 128px;
  line-height: 170px;
  background-color: #f5f5f5;
}
.main{
  background:white;
  width: 650px;
  margin: 0 auto;
}
h2{
  font-family: 'Osaka';
  font-size: 22px;
  padding: 16px;
  line-height: 1.5;
  text-align: center;
}
.messages{
  padding: 24px 12.5% 40px;
  border-top: 1px solid #f5f5f5;
  max-width: 320px;
  margin: 0 auto;
  display: block;
  margin-top: 16px;
  a{
    color: #0099e8;
  }
}

.footer{
  text-align: center;
  margin: 0 auto;
  z-index: 1;
  width: 456px;
  padding: 40px 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -200px;
  ul{
    font-size: 10px;
    li{
      display: inline; 	
      margin-right: 1em;
      a{
        color: black;
        text-decoration:none;
      }
    }
  }
  img{
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
  }
  p{
    font-size: 11px;
    margin: 8px 0 0;
  }
}



.main-pcsection {
  background-color: white;
  width: 700px;
  height: 100%;
  margin: 0 auto;
  &__heading-name {
    padding: 16px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
  } 
  &__content {
    border-top: 1px solid #eee;
    padding: 24px 87.5px 0;
    width: 525px;
    
    &--product {
      margin: 0 102.5px 40px;
      width: 320px;
      position: relative;
      .image{
        width: 64px;
        display:inline-block
      }
      .name {
        margin-left: 16px;
        display:inline-block;
        position: absolute;
        top: 0;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
      }
      .buy_form {
        .price {
          margin-top: 8px;
          text-align: center;
          font-size: 22px;
          font-weight: 600;
          span {
            font-size: 14px;
            font-weight: 400;
          }
        }
        .point {
          margin-top: 16px;
          background-color: rgb(204, 204, 204);
          width: 320px;
          display: inline-block;
          text-align: center;
          line-height: 48px;
          color: black;
        }
        .price-row {
          width: 320px;
          .price-cell {
            padding: 16px 0;
            display: inline-block;
            width: 158px;
            position: relative;
            font-weight: 600;
            font-size: 18px;
            span {
              position: absolute;
              right: 0;
              
              font-size: 28px;
            }
          }
        }
        .red-submit-btn {
          display: block;
          width: 100%;
          margin-top: 8px;
          line-height: 48px;
          font-size: 14px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          background: #ea352d;
          border: 1px solid #ea352d;
          opacity: 0.95;
          color: #fff;
          text-decoration: none;
        }
      }
    }
    &--address {
      margin: 0 102.5px 40px;
      width: 320px;
      position: relative;
      h3 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .address-detail {
        font-size: 14px;
        line-height: 1.4;
      }
      .blue-link {
        position: absolute;
        right: 0;
      }
    }
    &--payment {
      margin: 0 102.5px 40px;      
      width: 320px;
      position: relative;
      h3 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .payment-detail {
        line-height: 1.4;
      }
      .blue-link {
        position: absolute;
        right: 0;

      }
    }
  }
}
