-# %h2 Log in
-# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     %br/
-#     = f.password_field :password, autocomplete: "current-password"
-#   - if devise_mapping.rememberable?
-#     .field
-#       = f.check_box :remember_me
-#       = f.label :remember_me
-#   .actions
-#     = f.submit "Log in"
-# = render "devise/shared/links"


.display
  %main.contents
    %section.contents__panel
      .login-name
        %p アカウントをお持ちでない方はこちら
        .no-account
          =link_to users_path, class: "no-account__btn no-account__btn--registration" do
            新規会員登録
      .login-box
        .login-form
          =link_to "https://www.facebook.com/login/", class: "login-form__btn login-form__btn--facebook" do
            =fa_icon 'facebook', class: "login-form__btn--icon"
            Facebookでログイン
          =link_to "https://accounts.google.com/signin/", class: "login-form__btn login-form__btn--google" do
            =fa_icon 'google', class: "login-form__btn--icon"
            Googleでログイン
      .form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .login-mail
            = f.email_field :email, class: "login-email", autofocus: true, autocomplete: "email", placeholder: "  メールアドレス"
          .login-pass
            = f.password_field :password, class: "login-pass", autocomplete: "current-password", placeholder: "  パスワード"
          .login-captcha
            ☑︎reCAPCHA(私はロボットではありません)
          .login-enter
            = f.submit 'ログイン'
        .forget-pass
          =link_to "https://www.mercari.com/jp/password/reset/start/", class: "forget-pass__btn" do
            パスワードをお忘れの方