%body
  -# ここにhedder
  .main-top
    %a{:href => "#"}
      %img{:src => "https://kaoruya.org/blog/wp-content/uploads/2016/10/eye-catch-mercari-saishuppi.jpg", :width => "100%"}/
  .main-picup
    %h2.main-picup-title ピックアップカテゴリー
    .main-picup-category
      / ここから一括り
      %h3.main-picup-name
        %a{:href => "#"} レディース新着アイテム
      .item-box
        .item-box-content
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://im.belluna.jp/belluna/ph/O/6759/1006566759/DMIDDLE.JPG"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item 途中から消える途中から消える 途中から消える途中から消える
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://www.grail.bz/media/catalog/product/cache/0a7c993427b70b9b444e96c72e5c540c/f/o/fo991_v12.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new itemItem NameItem Name アイテム詳細 new item アイテム詳細 new item
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://ur-s.me/fs2cabinet/brx/brxn0019/brxn0019-m-01-dl.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item 途中から消える途中から消える途中から消える途中から消える
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body 
              %figure.item-box-photo
                %img.item-image{:src => "https://drmur6qpaw907g.cdn.jp.idcfcloud.com/images/goods/3163900529-000554014/3163900529-000554014_8700_1_20190520134002.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item途中から消える途中から消える途中から消える途中から消える途中から消える途中から消える
                .item-box-price
                  ¥1,0000
    .view-all
      %a{:href => "#"} 全ての商品をみる
    / ここまで一括り
    .main-picup-category
      / ここから一括り
      %h3.main-picup-name
        %a{:href => "#"} メンズ新着アイテム
      .item-box
        .item-box-content
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://images-na.ssl-images-amazon.com/images/I/61%2BQrkyoBwL._UY445_.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://i.pinimg.com/originals/b4/67/f0/b467f0b5d7aa41fd969b77cc799e7ca8.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://ic4-a.wowma.net/mi/w/640/h/3072/q/90/torimu2017.but.jp/11.24/MHO-W001-1.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://otokomaeken.com/wp-content/uploads/2018/08/DSC_1773-1.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
    .view-all
      %a{:href => "#"} 全ての商品をみる
    / ここまで一括り
    .main-picup-category
      / ここから一括り
      %h3.main-picup-name
        %a{:href => "#"} レディース新着アイテム
      .item-box
        .item-box-content
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://im.belluna.jp/belluna/ph/O/6759/1006566759/DMIDDLE.JPG"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://www.grail.bz/media/catalog/product/cache/0a7c993427b70b9b444e96c72e5c540c/f/o/fo991_v12.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://ur-s.me/fs2cabinet/brx/brxn0019/brxn0019-m-01-dl.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://drmur6qpaw907g.cdn.jp.idcfcloud.com/images/goods/3163900529-000554014/3163900529-000554014_8700_1_20190520134002.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
    .view-all
      %a{:href => "#"} 全ての商品をみる
    / ここまで一括り
    .main-picup-category
      / ここから一括り
      %h3.main-picup-name
        %a{:href => "#"} メンズ新着アイテム
      .item-box
        .item-box-content
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://images-na.ssl-images-amazon.com/images/I/61%2BQrkyoBwL._UY445_.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://tasclap.k-img.com/images/tasclapicv/450/000/000/1/1281/tasclapimage_1281_64_1.jpg?d=20190308173845"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://ic4-a.wowma.net/mi/w/640/h/3072/q/90/torimu2017.but.jp/11.24/MHO-W001-1.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://otokomaeken.com/wp-content/uploads/2018/08/DSC_1773-1.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 new item
                .item-box-price
                  ¥1,0000
    .view-all
      %a{:href => "#"} 全ての商品をみる
    / ここまで一括り
