%body
.main-wrapper
  .main-top-wrapper
    / --main上段（商品説明等）--
    .main-title
      %h2 Product Details
    .main-top.clearfix
      .main-image
        / --画像セクション--
        .main-image-box
          %image.item-main{:alt => "商品画像", :src => "https://im.belluna.jp/belluna/ph/O/6759/1006566759/DMIDDLE.JPG", :title => "レディース商品"}
        .main-images-sub
          / --サブ画像一覧 images--
          .main-image-sub
            %image.sub-image{:src => "https://shikasoku.com/wp-content/uploads/2018/02/img_0134.jpg"}
          .main-image-sub
            %image.sub-image{:src => "https://imgbp.hotp.jp/CSP/IMG_SRC/28/45/B045572845/B045572845_271-361.jpg"}
          .main-image-sub
            %image.sub-image{:src => "https://ranking.xgoo.jp/tool/images/talent/2000000845.jpg"}
          .main-image-sub
            %image.sub-image{:src => "https://cdn.keyakizaka46.com/images/14/745/f458226d743ae4b89529ac7be087c.jpg"}
          .main-image-sub
            %image.sub-image{:src => "http://cdn-ak.f.st-hatena.com/images/fotolife/h/horitsukiko/20150320/20150320233234.jpg"}
          / --上段
          .main-image-sub
            %image.sub-image{:src => "https://imgc.eximg.jp/cv/resize?i=%2F%2Fs.eximg.jp%2Fexnews%2Ffeed%2Fcuret%2Fcuret_82797_3990_2.jpg&t=jpeg&q=100&w=600"}
          .main-image-sub
            %image.sub-image{:src => "https://www.instagram.com/p/Bqn2PPtnVoC/media/?size=l"}
          .main-image-sub
            %image.sub-image{:src => "https://s3-ap-northeast-1.amazonaws.com/cdn.ranking-best.net/production/imgs/images/000/230/677/original.?1550399748"}
          .main-image-sub
            %image.sub-image{:src => "https://cdn.locari.jp/upload/post_element/picture/660543/w621_3491eae9954dc.jpg"}
          .main-image-sub
            %image.sub-image{:src => "https://img01.ti-da.net/usr/p/r/e/prettylady/a65iWzIV1lYkJldYBuxBZn%2C340x250.jpeg"}
        / --/サブ画像一覧 images--
      / --/画像セクション--
      %table.item-detail-table
        %tr
          %th 出品者
          %td
            %a{:href => "#"} user_name
            .user-status
              .item-user-ratings
                icon
              .item-user-ratings
                icon
              .item-user-ratings
                icon
        %tr
          %th カテゴリー
          %td
            %a{:href => "#"}
              %div fashion
            %a{:href => "#"}
              %div &gt; genre
            %a{:href => "#"}
              %div &gt; item
        %tr
          %th ブランド
          %td
            %a{:href => "#"} brand_name
        %tr
          %th 商品のサイズ
          %td item_size
        %tr
          %th 商品の状態
          %td item_state
        %tr
          %th 配送料の負担
          %td 送料込み
        %tr
          %th 配送料の方法
          %td 楽々メルカリ便
        %tr
          %th 配送元地域
          %td 大阪
        %tr
          %th 発送日の目安
          %td １〜２日で発送
    .item-price-box
      %apan.item-price ¥ 15,000
      %span.item-price-tax
        (税込)
        %span.item-price-postage
          送料込み
    %a.item-buy-box{:href => "#"} 購入画面に進む
    .item-description
      %p 吾輩わがはいは猫である。名前はまだ無い。どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始みはじめであろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶やかんだ。その後ご猫にもだいぶ逢あったがこんな片輪かたわには一度も出会でくわした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙けむりを吹く。どうも咽むせぽくて実に弱った。これが人間の飲む煙草たばこというものである事はようやくこの頃知った。
    .item-button-container.clearfix
      %button.button-likes{:name => "aaa", :type => "button", :value => "aaa"} いいね!
      %a.button-report{:href => "#"} 不適切な商品の報告
      %a.button-safe{:href => "#"} あんしん・あんぜんへの取り組み
  .comment-wrappe
    / --コメント欄
    .comment-message
  / --コメント欄
  .item-nav
    / 次のアイテム・前のアイテム
    %a.item-nav-previous{:href => "#"} previous-item
    %a.item-nav-next{:href => "#"} next-item
  / 次のアイテム・前のアイテム
  .item-sns
    / snsリンク
    %img{:height => "100%", :src => "https://res.cloudinary.com/hapvr1azp/image/upload/v1538993336/kvulc377thq523iizqvj.png", :width => "30%"}/
  / snsリンク
  .item-other
    / その他のアイテム
    %h2.item-other-user
      %a{:href => "#"} User-その他の出品
      .item-box
        / その他のアイテム一覧
        .item-box-content
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://im.belluna.jp/belluna/ph/O/6759/1006566759/DMIDDLE.JPG"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 途中から消える途中から消える
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://www.grail.bz/media/catalog/product/cache/0a7c993427b70b9b444e96c72e5c540c/f/o/fo991_v12.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 途中から消える途中から消える
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://drmur6qpaw907g.cdn.jp.idcfcloud.com/images/goods/3163900529-000554014/3163900529-000554014_8700_1_20190520134002.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 途中から消える途中から消える
                .item-box-price
                  ¥1,0000
      / その他のアイテム一覧
      .item-box
        / その他のアイテム一覧
        .item-box-content
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://shikasoku.com/wp-content/uploads/2018/02/img_0134.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 途中から消える途中から消える
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://imgbp.hotp.jp/CSP/IMG_SRC/28/45/B045572845/B045572845_271-361.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 途中から消える途中から消える
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://imgc.eximg.jp/cv/resize?i=%2F%2Fs.eximg.jp%2Fexnews%2Ffeed%2Fcuret%2Fcuret_82797_3990_2.jpg&t=jpeg&q=100&w=600"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 途中から消える途中から消える
                .item-box-price
                  ¥1,0000
      / その他のアイテム一覧
      .item-box
        / その他のアイテム一覧
        .item-box-content
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://cdn.keyakizaka46.com/images/14/745/f458226d743ae4b89529ac7be087c.jpg"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 途中から消える途中から消える
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://www.instagram.com/p/Bqn2PPtnVoC/media/?size=l"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 途中から消える途中から消える
                .item-box-price
                  ¥1,0000
          .item-box-new
            .item-box-body
              %figure.item-box-photo
                %img.item-image{:src => "https://s3-ap-northeast-1.amazonaws.com/cdn.ranking-best.net/production/imgs/images/000/230/677/original.?1550399748"}/
              .item-box-detail
                %h3.item-box-name Item Name アイテム詳細 途中から消える途中から消える
                .item-box-price
                  ¥1,0000

