- breadcrumb :profile
= breadcrumbs separator: " &gt; "
%main.container
  .container__content
    %h2.container__content__head  プロフィール
    .container__content__icon
      %figure.img
        %img{height: "52", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "52"}/
      %input.input-default{name: "nickname", placeholder: "例)AYA☆セール中", type: "text", value: "Ricardo Utino"}/
    .container__content__profile-content
      %textarea.introduction{placeholder: "例) こんにちは！ご覧いただきありがとうございます！かわいいものや綺麗めオフィスカジュアルを中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ"}
      %input{name: "after_save_callback", type: "hidden", value: "https://"}/
      %button.btn-red{type: "submit", styl:"margin-top: 16px;"} 変更する
  = render '/layouts/side__nav'
  = render partial:'layouts/footer-sell-btn'