%ul.category-list-parent
  %li.fa.fa-list-ul
    .mega-menu-left
      =link_to categorysearch_index_path, class: "mega-menu-left" do
        カテゴリーから探す
    -# - @parents.each do |parent|
    -#   = link_to "#{parent.name}", category_path(parent), class: "parent_category",id: "#{parent.id}"
    %ul
      %li
        .category-name{href: "#"} レディース
        %ul
          %li
            .category-name{:href => "#"} トップス
            %ul
              %li
                .category-name{:href => "#"} Tシャツ/カットソー(半袖/袖なし)
              %li
                .category-name{:href => "#"} Tシャツ/カットソー(7分/長袖)
              %li
                .category-name{:href => "#"} シャツ/ブラウス(半袖/袖なし)
              %li
                .category-name{:href => "#"} シャツ/ブラウス(7分/長袖)
              %li
                .category-name{:href => "#"} ポロシャツ
              %li
                .category-name{:href => "#"} キャミソール
              %li
                .category-name{:href => "#"} タンクトップ
              %li
                .category-name{:href => "#"} ホルターネック
              %li
                .category-name{:href => "#"} ニット/セーター
              %li
                .category-name{:href => "#"} チュニック
              %li
                .category-name{:href => "#"} カーディガン/ボレロ
              %li
                .category-name{:href => "#"} アンサンブル
              %li
                .category-name{:href => "#"} ベスト/ジレ
              %li
                .category-name{:href => "#"} パーカー
          %li
            .category-name{:href => "#"} ジャケット/アウター
          %li
            .category-name{:href => "#"} パンツ
          %li
            .category-name{:href => "#"} スカート
          %li
            .category-name{:href => "#"} ワンピース
          %li
            .category-name{href: "#"} 靴
          %li
            .category-name{href: "#"} ルームウェア/パジャマ
          %li
            .category-name{href: "#"} レッグウェア
          %li
            .category-name{href: "#"} 帽子
          %li
            .category-name{href: "#"} バッグ
          %li
            .category-name{href: "#"} アクセサリー
          %li
            .category-name{href: "#"} ヘアアクセサリー
          %li
            .category-name{href: "#"} 小物
          %li
            .category-name{href: "#"} 時計

      %li
        .category-name{href: "#"} メンズ
      %li
        .category-name{href: "#"} ベビー・キッズ
      %li
        .category-name{href: "#"} インテリア・住まい・小物
      %li
        .category-name{:href => "#"} 本・音楽・ゲーム
      %li
        .category-name{:href => "#"} おもちゃ・ホビー・グッズ
      %li
        .category-name{:href => "#"} コスメ・香水・美容
      %li
        .category-name{:href => "#"} 家電・スマホ・カメラ
      %li
        .category-name{:href => "#"} スポーツ・レジャー
      %li
        .category-name{:href => "#"} ハンドメイド
      %li
        .category-name{:href => "#"} チケット
      %li
        .category-name{:href => "#"} 自転車・オートバイ
      %li
        .category-name{:href => "#"} その他
      %li
        .category-name{:href => "#"} カテゴリー一覧



  %li.fa.fa-tag
    .mega-menu-left{:href => "#"} ブランドから探す
