.container__side
  .container__side__nav
    %ul.container__side__nav__lists
      %li
        =link_to "#" ,class: "item" do
          マイページ
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          お知らせ
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          やることリスト
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          いいね！一覧
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          出品する
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          出品した商品 - 出品中
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          出品した商品 - 取引中
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          出品した商品 - 売却済み
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          購入した商品 - 取引中
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          購入した商品 - 過去の取引
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          ニュース一覧
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          評価一覧
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          ガイド
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          お問い合わせ
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}

    %h3.container__side__nav__head
      メルペイ
    %ul.container__side__nav__lists
      %li
        =link_to "#" ,class: "item" do
          売上・振込申請
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          ポイント
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
    %h3.container__side__nav__head
      設定
    %ul.container__side__nav__lists
      %li
        =link_to "#" ,class: "item" do
          プロフィール
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          発送元・お届け先住所変更
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          支払い方法
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          メール/パスワード
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          本人情報
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          電話番号の確認
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}
      %li
        =link_to "#" ,class: "item" do
          ログアウト
          %i{class:"fa fa-angle-right" , style:"font-size:28px"}